<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DominoPlanner.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <DominoPlanner.Properties.Settings>
            <setting name="StandardProjectPath" serializeAs="String">
                <value>%user%/DominoPlanner</value>
            </setting>
            <setting name="FirstStartup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StandardColorArray" serializeAs="String">
                <value>%user%/DominoPlanner/Colors/standard.xml</value>
            </setting>
            <setting name="DocumentList" serializeAs="String">
                <value />
            </setting>
            <setting name="StructureTemplates" serializeAs="String">
                <value>&lt;StructureDefinitions&gt;
	&lt;StructureDefinition Name="Wall" HasProtocolDefinition="true"&gt;
		&lt;PartDefinition HorizontalPosition="Left" VerticalPosition="Top" Width="80" Height="0"/&gt;
		&lt;PartDefinition HorizontalPosition="Center" VerticalPosition="Top" Width="80" Height="0"/&gt;
		&lt;PartDefinition HorizontalPosition="Right" VerticalPosition="Top" Width="48" Height="0"/&gt;
		&lt;PartDefinition HorizontalPosition="Left" VerticalPosition="Center" Width="80" Height="96"&gt;
			&lt;RectangleDomino  x="0" y="0" Width="40" Height="24"&gt;
				&lt;ProtocolDefinition xConstant="0" yConstant="-1" xPositionMultiplier="0" yPositionMultiplier="-4" WidthMultiplier="0" HeightMultiplier="4"/&gt;  
			&lt;/RectangleDomino&gt;
			&lt;RectangleDomino x="0" y="24" Width="8" Height="24"&gt;
				&lt;ProtocolDefinition xConstant="0" yConstant="-2" xPositionMultiplier="0" yPositionMultiplier="-4" WidthMultiplier="0" HeightMultiplier="4"/&gt;  
			&lt;/RectangleDomino&gt;
			&lt;RectangleDomino x="40" y="24" Width="8" Height="24"&gt;
				&lt;ProtocolDefinition xConstant="1" yConstant="-2" xPositionMultiplier="0" yPositionMultiplier="-4" WidthMultiplier="0" HeightMultiplier="4"/&gt;  
			&lt;/RectangleDomino&gt;
			&lt;RectangleDomino x="0" y="48" Width="48" Height="24"&gt;
				&lt;ProtocolDefinition xConstant="0" yConstant="-3" xPositionMultiplier="0" yPositionMultiplier="-4" WidthMultiplier="0" HeightMultiplier="4"/&gt;  
			&lt;/RectangleDomino&gt;
			&lt;RectangleDomino x="48" y="48" Width="32" Height="24"&gt;
				&lt;ProtocolDefinition xConstant="1" yConstant="-3" xPositionMultiplier="0" yPositionMultiplier="-4" WidthMultiplier="0" HeightMultiplier="4"/&gt;  
			&lt;/RectangleDomino&gt;
			&lt;RectangleDomino x="0" y="72" Width="8" Height="24"&gt;
				&lt;ProtocolDefinition xConstant="0" yConstant="-4" xPositionMultiplier="0" yPositionMultiplier="-4" WidthMultiplier="0" HeightMultiplier="4"/&gt;  
			&lt;/RectangleDomino&gt;
			&lt;RectangleDomino x="40" y="72" Width="8" Height="24"&gt;
				&lt;ProtocolDefinition xConstant="1" yConstant="-4" xPositionMultiplier="0" yPositionMultiplier="-4" WidthMultiplier="0" HeightMultiplier="4"/&gt;  
			&lt;/RectangleDomino&gt;
		&lt;/PartDefinition&gt;
		&lt;PartDefinition HorizontalPosition="Center" VerticalPosition="Center" Width="80" Height="96"&gt;
			&lt;RectangleDomino x="-40" y="0" Width="48" Height="24"&gt;
				&lt;ProtocolDefinition xConstant="1" yConstant="-1" xPositionMultiplier="2" yPositionMultiplier="-4" WidthMultiplier="0" HeightMultiplier="4"/&gt;  
			&lt;/RectangleDomino&gt;
			&lt;RectangleDomino x="8" y="0" Width="32" Height="24"&gt;
				&lt;ProtocolDefinition xConstant="2" yConstant="-1" xPositionMultiplier="2" yPositionMultiplier="-4" WidthMultiplier="0" HeightMultiplier="4"/&gt;  
			&lt;/RectangleDomino&gt;
			&lt;RectangleDomino x="40" y="0" Width="48" Height="24"&gt;
				&lt;ProtocolDefinition xConstant="3" yConstant="-1" xPositionMultiplier="2" yPositionMultiplier="-4" WidthMultiplier="0" HeightMultiplier="4"/&gt;  
			&lt;/RectangleDomino&gt;
			&lt;RectangleDomino x="0" y="24" Width="8" Height="24"&gt;
				&lt;ProtocolDefinition xConstant="2" yConstant="-2" xPositionMultiplier="2" yPositionMultiplier="-4" WidthMultiplier="0" HeightMultiplier="4"/&gt;  
			&lt;/RectangleDomino&gt;
			&lt;RectangleDomino x="40" y="24" Width="8" Height="24"&gt;
				&lt;ProtocolDefinition xConstant="3" yConstant="-2" xPositionMultiplier="2" yPositionMultiplier="-4" WidthMultiplier="0" HeightMultiplier="4"/&gt;  
			&lt;/RectangleDomino&gt;
			&lt;RectangleDomino x="0" y="48" Width="48" Height="24"&gt;
				&lt;ProtocolDefinition xConstant="2" yConstant="-3" xPositionMultiplier="2" yPositionMultiplier="-4" WidthMultiplier="0" HeightMultiplier="4"/&gt;  
			&lt;/RectangleDomino&gt;
			&lt;RectangleDomino x="48" y="48" Width="32" Height="24"&gt;
				&lt;ProtocolDefinition xConstant="3" yConstant="-3" xPositionMultiplier="2" yPositionMultiplier="-4" WidthMultiplier="0" HeightMultiplier="4"/&gt;  
			&lt;/RectangleDomino&gt;
			&lt;RectangleDomino x="0" y="72" Width="8" Height="24"&gt;
				&lt;ProtocolDefinition xConstant="2" yConstant="-4" xPositionMultiplier="2" yPositionMultiplier="-4" WidthMultiplier="0" HeightMultiplier="4"/&gt;  
			&lt;/RectangleDomino&gt;
			&lt;RectangleDomino x="40" y="72" Width="8" Height="24"&gt;
				&lt;ProtocolDefinition xConstant="3" yConstant="-4" xPositionMultiplier="2" yPositionMultiplier="-4" WidthMultiplier="0" HeightMultiplier="4"/&gt;  
			&lt;/RectangleDomino&gt;
		&lt;/PartDefinition&gt;
		&lt;PartDefinition HorizontalPosition="Right" VerticalPosition="Center" Width="48" Height="96"&gt;
			&lt;RectangleDomino x="8" y="0" Width="40" Height="24"&gt;
				&lt;ProtocolDefinition xConstant="2" yConstant="-1" xPositionMultiplier="0" yPositionMultiplier="-4" WidthMultiplier="2" HeightMultiplier="4"/&gt;  
			&lt;/RectangleDomino&gt;
			&lt;RectangleDomino x="0" y="24" Width="8" Height="24"&gt;
				&lt;ProtocolDefinition xConstant="2" yConstant="-2" xPositionMultiplier="0" yPositionMultiplier="-4" WidthMultiplier="2" HeightMultiplier="4"/&gt;  
			&lt;/RectangleDomino&gt;
			&lt;RectangleDomino x="40" y="24" Width="8" Height="24"&gt;
				&lt;ProtocolDefinition xConstant="3" yConstant="-2" xPositionMultiplier="0" yPositionMultiplier="-4" WidthMultiplier="2" HeightMultiplier="4"/&gt;  
			&lt;/RectangleDomino&gt;
			&lt;RectangleDomino x="0" y="48" Width="48" Height="24"&gt;
				&lt;ProtocolDefinition xConstant="2" yConstant="-3" xPositionMultiplier="0" yPositionMultiplier="-4" WidthMultiplier="2" HeightMultiplier="4"/&gt;  
			&lt;/RectangleDomino&gt;
			&lt;RectangleDomino x="0" y="72" Width="8" Height="24"&gt;
				&lt;ProtocolDefinition xConstant="2" yConstant="-4" xPositionMultiplier="0" yPositionMultiplier="-4" WidthMultiplier="2" HeightMultiplier="4"/&gt;  
			&lt;/RectangleDomino&gt;
			&lt;RectangleDomino x="40" y="72" Width="8" Height="24"&gt;
				&lt;ProtocolDefinition xConstant="3" yConstant="-4" xPositionMultiplier="0" yPositionMultiplier="-4" WidthMultiplier="2" HeightMultiplier="4"/&gt;  
			&lt;/RectangleDomino&gt;
		&lt;/PartDefinition&gt;
		&lt;PartDefinition HorizontalPosition="Left" VerticalPosition="Bottom" Width="80" Height="0"/&gt;
		&lt;PartDefinition HorizontalPosition="Center" VerticalPosition="Bottom" Width="80" Height="0"/&gt;
		&lt;PartDefinition HorizontalPosition="Right" VerticalPosition="Bottom" Width="48" Height="0"/&gt;
	&lt;/StructureDefinition&gt;
	&lt;StructureDefinition Name="Wall, SDE Type Edge" HasProtocolDefinition="true"&gt;
		&lt;PartDefinition HorizontalPosition="Left" VerticalPosition="Top" Width="80" Height="0"/&gt;
		&lt;PartDefinition HorizontalPosition="Center" VerticalPosition="Top" Width="80" Height="0"/&gt;
		&lt;PartDefinition HorizontalPosition="Right" VerticalPosition="Top" Width="48" Height="0"/&gt;
		&lt;PartDefinition HorizontalPosition="Left" VerticalPosition="Center" Width="80" Height="96"&gt;
			&lt;RectangleDomino  x="24" y="0" Width="16" Height="24"&gt;
				&lt;ProtocolDefinition xConstant="0" yConstant="-1" xPositionMultiplier="0" yPositionMultiplier="-4" WidthMultiplier="0" HeightMultiplier="4"/&gt;  
			&lt;/RectangleDomino&gt;
			&lt;RectangleDomino x="0" y="0" Width="24" Height="48"&gt;
				&lt;ProtocolDefinition xConstant="0" yConstant="-2" xPositionMultiplier="0" yPositionMultiplier="-4" WidthMultiplier="0" HeightMultiplier="4"/&gt;  
			&lt;/RectangleDomino&gt;
			&lt;RectangleDomino x="40" y="24" Width="8" Height="24"&gt;
				&lt;ProtocolDefinition xConstant="1" yConstant="-2" xPositionMultiplier="0" yPositionMultiplier="-4" WidthMultiplier="0" HeightMultiplier="4"/&gt;  
			&lt;/RectangleDomino&gt;
			&lt;RectangleDomino x="0" y="48" Width="48" Height="24"&gt;
				&lt;ProtocolDefinition xConstant="0" yConstant="-3" xPositionMultiplier="0" yPositionMultiplier="-4" WidthMultiplier="0" HeightMultiplier="4"/&gt;  
			&lt;/RectangleDomino&gt;
			&lt;RectangleDomino x="48" y="48" Width="48" Height="24"&gt;
				&lt;ProtocolDefinition xConstant="1" yConstant="-3" xPositionMultiplier="0" yPositionMultiplier="-4" WidthMultiplier="0" HeightMultiplier="4"/&gt;  
			&lt;/RectangleDomino&gt;
			&lt;RectangleDomino x="0" y="72" Width="8" Height="24"&gt;
				&lt;ProtocolDefinition xConstant="0" yConstant="-4" xPositionMultiplier="0" yPositionMultiplier="-4" WidthMultiplier="0" HeightMultiplier="4"/&gt;  
			&lt;/RectangleDomino&gt;
			&lt;RectangleDomino x="40" y="72" Width="8" Height="24"&gt;
				&lt;ProtocolDefinition xConstant="1" yConstant="-4" xPositionMultiplier="0" yPositionMultiplier="-4" WidthMultiplier="0" HeightMultiplier="4"/&gt;  
			&lt;/RectangleDomino&gt;
		&lt;/PartDefinition&gt;
		&lt;PartDefinition HorizontalPosition="Center" VerticalPosition="Center" Width="80" Height="96"&gt;
			&lt;RectangleDomino x="-40" y="0" Width="48" Height="24"&gt;
				&lt;ProtocolDefinition xConstant="1" yConstant="-1" xPositionMultiplier="2" yPositionMultiplier="-4" WidthMultiplier="0" HeightMultiplier="4"/&gt;  
			&lt;/RectangleDomino&gt;
			&lt;RectangleDomino x="8" y="0" Width="32" Height="24"&gt;
				&lt;ProtocolDefinition xConstant="2" yConstant="-1" xPositionMultiplier="2" yPositionMultiplier="-4" WidthMultiplier="0" HeightMultiplier="4"/&gt;  
			&lt;/RectangleDomino&gt;
			&lt;RectangleDomino x="40" y="0" Width="48" Height="24"&gt;
				&lt;ProtocolDefinition xConstant="3" yConstant="-1" xPositionMultiplier="2" yPositionMultiplier="-4" WidthMultiplier="0" HeightMultiplier="4"/&gt;  
			&lt;/RectangleDomino&gt;
			&lt;RectangleDomino x="0" y="24" Width="8" Height="24"&gt;
				&lt;ProtocolDefinition xConstant="2" yConstant="-2" xPositionMultiplier="2" yPositionMultiplier="-4" WidthMultiplier="0" HeightMultiplier="4"/&gt;  
			&lt;/RectangleDomino&gt;
			&lt;RectangleDomino x="40" y="24" Width="8" Height="24"&gt;
				&lt;ProtocolDefinition xConstant="3" yConstant="-2" xPositionMultiplier="2" yPositionMultiplier="-4" WidthMultiplier="0" HeightMultiplier="4"/&gt;  
			&lt;/RectangleDomino&gt;
			&lt;RectangleDomino x="0" y="48" Width="48" Height="24"&gt;
				&lt;ProtocolDefinition xConstant="2" yConstant="-3" xPositionMultiplier="2" yPositionMultiplier="-4" WidthMultiplier="0" HeightMultiplier="4"/&gt;  
			&lt;/RectangleDomino&gt;
			&lt;RectangleDomino x="48" y="48" Width="32" Height="24"&gt;
				&lt;ProtocolDefinition xConstant="3" yConstant="-3" xPositionMultiplier="2" yPositionMultiplier="-4" WidthMultiplier="0" HeightMultiplier="4"/&gt;  
			&lt;/RectangleDomino&gt;
			&lt;RectangleDomino x="0" y="72" Width="8" Height="24"&gt;
				&lt;ProtocolDefinition xConstant="2" yConstant="-4" xPositionMultiplier="2" yPositionMultiplier="-4" WidthMultiplier="0" HeightMultiplier="4"/&gt;  
			&lt;/RectangleDomino&gt;
			&lt;RectangleDomino x="40" y="72" Width="8" Height="24"&gt;
				&lt;ProtocolDefinition xConstant="3" yConstant="-4" xPositionMultiplier="2" yPositionMultiplier="-4" WidthMultiplier="0" HeightMultiplier="4"/&gt;  
			&lt;/RectangleDomino&gt;
		&lt;/PartDefinition&gt;
		&lt;PartDefinition HorizontalPosition="Right" VerticalPosition="Center" Width="48" Height="96"&gt;
			&lt;RectangleDomino x="8" y="0" Width="16" Height="24"&gt;
				&lt;ProtocolDefinition xConstant="2" yConstant="-1" xPositionMultiplier="0" yPositionMultiplier="-4" WidthMultiplier="2" HeightMultiplier="4"/&gt;  
			&lt;/RectangleDomino&gt;
			&lt;RectangleDomino x="0" y="24" Width="8" Height="24"&gt;
				&lt;ProtocolDefinition xConstant="2" yConstant="-2" xPositionMultiplier="0" yPositionMultiplier="-4" WidthMultiplier="2" HeightMultiplier="4"/&gt;  
			&lt;/RectangleDomino&gt;
			&lt;RectangleDomino x="24" y="0" Width="24" Height="48"&gt;
				&lt;ProtocolDefinition xConstant="3" yConstant="-2" xPositionMultiplier="0" yPositionMultiplier="-4" WidthMultiplier="2" HeightMultiplier="4"/&gt;  
			&lt;/RectangleDomino&gt;
			&lt;RectangleDomino x="0" y="48" Width="48" Height="24"&gt;
				&lt;ProtocolDefinition xConstant="2" yConstant="-3" xPositionMultiplier="0" yPositionMultiplier="-4" WidthMultiplier="2" HeightMultiplier="4"/&gt;  
			&lt;/RectangleDomino&gt;
			&lt;RectangleDomino x="0" y="72" Width="8" Height="24"&gt;
				&lt;ProtocolDefinition xConstant="2" yConstant="-4" xPositionMultiplier="0" yPositionMultiplier="-4" WidthMultiplier="2" HeightMultiplier="4"/&gt;  
			&lt;/RectangleDomino&gt;
			&lt;RectangleDomino x="40" y="72" Width="8" Height="24"&gt;
				&lt;ProtocolDefinition xConstant="3" yConstant="-4" xPositionMultiplier="0" yPositionMultiplier="-4" WidthMultiplier="2" HeightMultiplier="4"/&gt;  
			&lt;/RectangleDomino&gt;
		&lt;/PartDefinition&gt;
		&lt;PartDefinition HorizontalPosition="Left" VerticalPosition="Bottom" Width="80" Height="0"/&gt;
		&lt;PartDefinition HorizontalPosition="Center" VerticalPosition="Bottom" Width="80" Height="0"/&gt;
		&lt;PartDefinition HorizontalPosition="Right" VerticalPosition="Bottom" Width="48" Height="0"/&gt;
	&lt;/StructureDefinition&gt;
	&lt;StructureDefinition Name="T-Wall" HasProtocolDefinition="false"&gt;
		&lt;PartDefinition HorizontalPosition="Left" VerticalPosition="Top" Width="0" Height="56"/&gt;
		&lt;PartDefinition HorizontalPosition="Center" VerticalPosition="Top" Width="96" Height="56"&gt;
			&lt;RectangleDomino x="0" y="0" Width="48" Height="8"/&gt;
			&lt;RectangleDomino x="20" y="8" Width="8" Height="48"/&gt;
			&lt;RectangleDomino x="48" y="32" Width="48" Height="8"/&gt;
		&lt;/PartDefinition&gt;
		&lt;PartDefinition HorizontalPosition="Right" VerticalPosition="Top" Width="0" Height="56"/&gt;
		&lt;PartDefinition HorizontalPosition="Left" VerticalPosition="Center" Width="0" Height="56"/&gt;
		&lt;PartDefinition HorizontalPosition="Center" VerticalPosition="Center" Width="96" Height="56"&gt;
			&lt;RectangleDomino x="0" y="0" Width="48" Height="8"/&gt;
			&lt;RectangleDomino x="20" y="8" Width="8" Height="48"/&gt;
			&lt;RectangleDomino x="48" y="32" Width="48" Height="8"/&gt;
			&lt;RectangleDomino x="68" y="-16" Width="8" Height="48"/&gt;
		&lt;/PartDefinition&gt;
		&lt;PartDefinition HorizontalPosition="Right" VerticalPosition="Center" Width="0" Height="56"/&gt;
		&lt;PartDefinition HorizontalPosition="Left" VerticalPosition="Bottom" Width="0" Height="64"/&gt;
		&lt;PartDefinition HorizontalPosition="Center" VerticalPosition="Bottom" Width="96" Height="64"&gt;
			&lt;RectangleDomino x="0" y="0" Width="48" Height="8"/&gt;
			&lt;RectangleDomino x="20" y="8" Width="8" Height="48"/&gt;
			&lt;RectangleDomino x="48" y="32" Width="48" Height="8"/&gt;
			&lt;RectangleDomino x="48" y="40" Width="48" Height="8"/&gt;
			&lt;RectangleDomino x="48" y="48" Width="48" Height="8"/&gt;
			&lt;RectangleDomino x="48" y="56" Width="48" Height="8"/&gt;
			&lt;RectangleDomino x="68" y="-16" Width="8" Height="48"/&gt;
			&lt;RectangleDomino x="0" y="56" Width="48" Height="8"/&gt;
		&lt;/PartDefinition&gt;
		&lt;PartDefinition HorizontalPosition="Right" VerticalPosition="Bottom" Width="0" Height="64"/&gt;
	&lt;/StructureDefinition&gt;
	&lt;StructureDefinition Name="Cube Side 1" HasProtocolDefinition="false"&gt;
		&lt;PartDefinition HorizontalPosition="Left" VerticalPosition="Top" Width="80" Height="0"/&gt;
		&lt;PartDefinition HorizontalPosition="Center" VerticalPosition="Top" Width="80" Height="0"/&gt;
		&lt;PartDefinition HorizontalPosition="Right" VerticalPosition="Top" Width="48" Height="0"/&gt;
		&lt;PartDefinition HorizontalPosition="Left" VerticalPosition="Center" Width="80" Height="96"&gt;
			&lt;RectangleDomino x="48" y="0" Width="32" Height="24"/&gt;
			&lt;RectangleDomino x="0" y="0" Width="48" Height="24"/&gt;
			&lt;RectangleDomino x="0" y="24" Width="8" Height="24"/&gt;
			&lt;RectangleDomino x="40" y="24" Width="48" Height="24"/&gt;
			&lt;RectangleDomino x="0" y="48" Width="48" Height="24"/&gt;
			&lt;RectangleDomino x="0" y ="72" Width="8" Height="24"/&gt;
			&lt;RectangleDomino x="40" y ="72" Width="8" Height="24"/&gt;
		&lt;/PartDefinition&gt;
		&lt;PartDefinition HorizontalPosition="Center" VerticalPosition="Center" Width="80" Height="96"&gt;
			&lt;RectangleDomino x="48" y="0" Width="32" Height="24"/&gt;
			&lt;RectangleDomino x="0" y="0" Width="48" Height="24"/&gt;
			&lt;RectangleDomino x="0" y="48" Width="48" Height="24"/&gt;
			&lt;RectangleDomino x="0" y="72" Width="8" Height="24"/&gt;
			&lt;RectangleDomino x="40" y="72" Width="8" Height="24"/&gt;
			&lt;RectangleDomino x="40" y="24" Width="48" Height="24"/&gt;
		&lt;/PartDefinition&gt;
		&lt;PartDefinition HorizontalPosition="Right" VerticalPosition="Center" Width="48" Height="96"&gt;
			&lt;RectangleDomino x="0" y="0" Width="48" Height="24"/&gt;
			&lt;RectangleDomino x="40" y="24" Width="8" Height="24"/&gt;
			&lt;RectangleDomino x="0" y="48" Width="48" Height="24"/&gt;
			&lt;RectangleDomino x="0" y="72" Width="8" Height="24"/&gt;
			&lt;RectangleDomino x="40" y="72" Width="8" Height="24"/&gt;
		&lt;/PartDefinition&gt;
		&lt;PartDefinition HorizontalPosition="Left" VerticalPosition="Bottom" Width="80" Height="0"/&gt;
		&lt;PartDefinition HorizontalPosition="Center" VerticalPosition="Bottom" Width="80" Height="0"/&gt;
		&lt;PartDefinition HorizontalPosition="Right" VerticalPosition="Bottom" Width="48" Height="0"/&gt;
	&lt;/StructureDefinition&gt;
	&lt;StructureDefinition Name="Cube Side 2" HasProtocolDefinition="false"&gt;
		&lt;PartDefinition HorizontalPosition="Left" VerticalPosition="Top" Width="80" Height="0"/&gt;
		&lt;PartDefinition HorizontalPosition="Center" VerticalPosition="Top" Width="80" Height="0"/&gt;
		&lt;PartDefinition HorizontalPosition="Right" VerticalPosition="Top" Width="48" Height="0"/&gt;
		&lt;PartDefinition HorizontalPosition="Left" VerticalPosition="Center" Width="80" Height="96"&gt;
			&lt;RectangleDomino x="48" y="24" Width="32" Height="24"/&gt;
			&lt;RectangleDomino x="0" y="72" Width="48" Height="24"/&gt;
			&lt;RectangleDomino x="0" y="0" Width="8" Height="24"/&gt;
			&lt;RectangleDomino x="40" y="0" Width="48" Height="24"/&gt;
			&lt;RectangleDomino x="0" y="24" Width="48" Height="24"/&gt;
			&lt;RectangleDomino x="0" y ="48" Width="8" Height="24"/&gt;
			&lt;RectangleDomino x="40" y ="48" Width="8" Height="24"/&gt;
		&lt;/PartDefinition&gt;
		&lt;PartDefinition HorizontalPosition="Center" VerticalPosition="Center" Width="80" Height="96"&gt;
			&lt;RectangleDomino x="40" y="0" Width="48" Height="24"/&gt;
			&lt;RectangleDomino x="48" y="24" Width="32" Height="24"/&gt;
			&lt;RectangleDomino x="0" y="72" Width="48" Height="24"/&gt;
			&lt;RectangleDomino x="0" y="24" Width="48" Height="24"/&gt;
			&lt;RectangleDomino x="0" y="48" Width="8" Height="24"/&gt;
			&lt;RectangleDomino x="40" y="48" Width="8" Height="24"/&gt;
		&lt;/PartDefinition&gt;
		&lt;PartDefinition HorizontalPosition="Right" VerticalPosition="Center" Width="48" Height="96"&gt;
			&lt;RectangleDomino x="0" y="72" Width="48" Height="24"/&gt;
			&lt;RectangleDomino x="-40" y="0" Width="48" Height="24"/&gt;
			&lt;RectangleDomino x="40" y="0" Width="8" Height="24"/&gt;
			&lt;RectangleDomino x="0" y="24" Width="48" Height="24"/&gt;
			&lt;RectangleDomino x="0" y="48" Width="8" Height="24"/&gt;
			&lt;RectangleDomino x="40" y="48" Width="8" Height="24"/&gt;
		&lt;/PartDefinition&gt;
		&lt;PartDefinition HorizontalPosition="Left" VerticalPosition="Bottom" Width="80" Height="0"/&gt;
		&lt;PartDefinition HorizontalPosition="Center" VerticalPosition="Bottom" Width="80" Height="0"/&gt;
		&lt;PartDefinition HorizontalPosition="Right" VerticalPosition="Bottom" Width="48" Height="0"/&gt;
	&lt;/StructureDefinition&gt;
	&lt;StructureDefinition Name="Edge Wall by Linux5324" HasProtocolDefinition="false"&gt;
		&lt;PartDefinition HorizontalPosition="Left" VerticalPosition="Top" Width="28.284" Height="0"/&gt;
		&lt;PartDefinition HorizontalPosition="Center" VerticalPosition="Top" Width="56.569" Height="0"/&gt;
		&lt;PartDefinition HorizontalPosition="Right" VerticalPosition="Top" Width="45.255" Height="0"/&gt;
		&lt;PartDefinition HorizontalPosition="Left" VerticalPosition="Center" Width="28.284" Height="96"&gt;
			&lt;RectangleDomino x="0" y="0" Width="22.627" Height="48"/&gt;
			&lt;RectangleDomino x="0" y="48" Width="16.971" Height="24"/&gt;
		&lt;/PartDefinition&gt;
		&lt;PartDefinition HorizontalPosition="Center" VerticalPosition="Center" Width="56.568" Height="96"&gt;
			&lt;RectangleDomino x="0" y="0" Width="39.598" Height="24"/&gt;
			&lt;RectangleDomino x="-11.313" y="24" Width="22.627" Height="48"/&gt;
			&lt;RectangleDomino x="11.314" y="24" Width="28.284" Height="24"/&gt;
			&lt;RectangleDomino x="-28.284" y="72" Width="39.598" Height="24"/&gt;
			&lt;RectangleDomino x="11.314" y="72" Width="11.314" Height="24"/&gt;
			&lt;RectangleDomino x="28.284" y="48" Width="16.971" Height="24"/&gt;
			&lt;RectangleDomino x="28.284" y="72" Width="39.598" Height="24"/&gt;
			&lt;RectangleDomino x="45.255" y="24" Width="22.627" Height="48"/&gt;
		&lt;/PartDefinition&gt;
		&lt;PartDefinition HorizontalPosition="Right" VerticalPosition="Center" Width="45.255" Height="96"&gt;
			&lt;RectangleDomino x="0" y="0" Width="39.598" Height="24"/&gt;
			&lt;RectangleDomino x="11.314" y="24" Width="28.284" Height="24"/&gt;
			&lt;RectangleDomino x="11.314" y="72" Width="5.657" Height="24"/&gt;
			&lt;RectangleDomino x="16.971" y="48" Width="22.627" Height="48"/&gt;
		&lt;/PartDefinition&gt;
		&lt;PartDefinition HorizontalPosition="Left" VerticalPosition="Bottom" Width="28.284" Height="72"&gt;
			&lt;RectangleDomino x="0" y="0" Width="22.627" Height="48"/&gt;
			&lt;RectangleDomino x="0" y="48" Width="16.971" Height="24"/&gt;
		&lt;/PartDefinition&gt;
		&lt;PartDefinition HorizontalPosition="Center" VerticalPosition="Bottom" Width="56.569" Height="72"&gt;
			&lt;RectangleDomino x="0" y="0" Width="39.598" Height="24"/&gt;
			&lt;RectangleDomino x="-11.313" y="24" Width="22.627" Height="48"/&gt;
			&lt;RectangleDomino x="11.314" y="24" Width="28.284" Height="24"/&gt;
			&lt;RectangleDomino x="28.284" y="48" Width="16.971" Height="24"/&gt;
			&lt;RectangleDomino x="45.255" y="24" Width="22.627" Height="48"/&gt;
		&lt;/PartDefinition&gt;
		&lt;PartDefinition HorizontalPosition="Right" VerticalPosition="Bottom" Width="45.255" Height="72"&gt;
			&lt;RectangleDomino x="0" y="0" Width="39.598" Height="24"/&gt;
			&lt;RectangleDomino x="11.314" y="24" Width="28.284" Height="24"/&gt;
			&lt;RectangleDomino x="11.314" y="48" Width="33.941" Height="24"/&gt;
		&lt;/PartDefinition&gt;
	&lt;/StructureDefinition&gt;
	&lt;StructureDefinition Name="Diagonal Field" HasProtocolDefinition="true"&gt;
		&lt;PartDefinition HorizontalPosition="Left" VerticalPosition="Top" Width="16" Height="16"/&gt;
		&lt;PartDefinition HorizontalPosition="Center" VerticalPosition="Top" Width="32" Height="16"&gt;
			&lt;PathDomino&gt;
				&lt;Point x="-8" y="4"/&gt;
				&lt;Point x="-4" y="0"/&gt;
				&lt;Point x="8" y="12"/&gt;
				&lt;Point x="4" y="16"/&gt;
				&lt;ProtocolDefinition xConstant="1" xxPositionMultiplier="4" yxPositionMultiplier="1"/&gt;
			&lt;/PathDomino&gt;
		&lt;/PartDefinition&gt;
		&lt;PartDefinition HorizontalPosition="Right" VerticalPosition="Top" Width="8" Height="16"&gt;
			&lt;PathDomino&gt;
				&lt;Point x="-8" y="4"/&gt;
				&lt;Point x="-4" y="0"/&gt;
				&lt;Point x="8" y="12"/&gt;
				&lt;Point x="4" y="16"/&gt;
				&lt;ProtocolDefinition xConstant="1" xWidthMultiplier="4" yWidthMultiplier="1" /&gt;
			&lt;/PathDomino&gt;
		&lt;/PartDefinition&gt;
		&lt;PartDefinition HorizontalPosition="Left" VerticalPosition="Center" Width="16" Height="32"&gt;
			&lt;PathDomino&gt;
				&lt;Point x="0" y="-4"/&gt;
				&lt;Point x="4" y="-8"/&gt;
				&lt;Point x="16" y="4"/&gt;
				&lt;Point x="12" y="8"/&gt;
				&lt;ProtocolDefinition yyPositionMultiplier="1"/&gt; 
			&lt;/PathDomino&gt;
		&lt;/PartDefinition&gt;
		&lt;PartDefinition HorizontalPosition="Center" VerticalPosition="Center" Width="32" Height="32"&gt;
			&lt;PathDomino&gt;
				&lt;Point x="-8" y="20"/&gt;
				&lt;Point x="-4" y="16"/&gt;
				&lt;Point x="8" y="28"/&gt;
				&lt;Point x="4" y="32"/&gt;
				&lt;ProtocolDefinition xConstant="1" yConstant="1" xxPositionMultiplier="4" yxPositionMultiplier="1" yyPositionMultiplier="1"/&gt;
			&lt;/PathDomino&gt;
			&lt;PathDomino&gt;
				&lt;Point x="0" y="12"/&gt;
				&lt;Point x="4" y="8"/&gt;
				&lt;Point x="16" y="20"/&gt;
				&lt;Point x="12" y="24"/&gt;
				&lt;ProtocolDefinition yConstant="1" xConstant="2" xxPositionMultiplier="4" yxPositionMultiplier="1" yyPositionMultiplier="1"/&gt;
			&lt;/PathDomino&gt;
			&lt;PathDomino&gt;
				&lt;Point x="8" y="4"/&gt;
				&lt;Point x="12" y="0"/&gt;
				&lt;Point x="24" y="12"/&gt;
				&lt;Point x="20" y="16"/&gt;
				&lt;ProtocolDefinition yConstant="1" xConstant="3" xxPositionMultiplier="4" yxPositionMultiplier="1" yyPositionMultiplier="1"/&gt;
			&lt;/PathDomino&gt;
			&lt;PathDomino&gt;
				&lt;Point x="16" y="-4"/&gt;
				&lt;Point x="20" y="-8"/&gt;
				&lt;Point x="32" y="4"/&gt;
				&lt;Point x="28" y="8"/&gt;
				&lt;ProtocolDefinition yConstant="1" xConstant="4" xxPositionMultiplier="4" yxPositionMultiplier="1" yyPositionMultiplier="1"/&gt;
			&lt;/PathDomino&gt;
		&lt;/PartDefinition&gt;
		&lt;PartDefinition HorizontalPosition="Right" VerticalPosition="Center" Width="8" Height="32"&gt;
			&lt;PathDomino&gt;
				&lt;Point x="-8" y="20"/&gt;
				&lt;Point x="-4" y="16"/&gt;
				&lt;Point x="8" y="28"/&gt;
				&lt;Point x="4" y="32"/&gt;
				&lt;ProtocolDefinition yConstant="1" xConstant="1" xWidthMultiplier="4" yWidthMultiplier="1" yyPositionMultiplier="1"/&gt;
			&lt;/PathDomino&gt;
		&lt;/PartDefinition&gt;
		&lt;PartDefinition HorizontalPosition="Left" VerticalPosition="Bottom" Width="16" Height="8"&gt;
			&lt;PathDomino&gt;
				&lt;Point x="0" y="-4"/&gt;
				&lt;Point x="4" y="-8"/&gt;
				&lt;Point x="16" y="4"/&gt;
				&lt;Point x="12" y="8"/&gt;
				&lt;ProtocolDefinition yHeightMultiplier="1"/&gt;
			&lt;/PathDomino&gt;
		&lt;/PartDefinition&gt;
		&lt;PartDefinition HorizontalPosition="Center" VerticalPosition="Bottom" Width="32" Height="8"&gt;
			&lt;PathDomino&gt;
				&lt;Point x="16" y="-4"/&gt;
				&lt;Point x="20" y="-8"/&gt;
				&lt;Point x="32" y="4"/&gt;
				&lt;Point x="28" y="8"/&gt;
				&lt;ProtocolDefinition yConstant="1" xConstant="4" xxPositionMultiplier="4" yxPositionMultiplier="1" yHeightMultiplier="1"/&gt;
			&lt;/PathDomino&gt;
		&lt;/PartDefinition&gt;
		&lt;PartDefinition HorizontalPosition="Right" VerticalPosition="Bottom" Width="8" Height="8"/&gt;
	&lt;/StructureDefinition&gt;
	&lt;StructureDefinition Name="Speedwall" HasProtocolDefinition="false"&gt;
		&lt;PartDefinition HorizontalPosition="Left" VerticalPosition="Top" Width="88" Height="56"&gt;
			&lt;RectangleDomino x="8" y="0" Width="48" Height="8"/&gt;
			&lt;RectangleDomino x="8" y="8" Width="8" Height="48"/&gt;
			&lt;RectangleDomino x="48" y="8" Width="8" Height="48"/&gt;
		&lt;/PartDefinition&gt;
		&lt;PartDefinition HorizontalPosition="Center" VerticalPosition="Top" Width="80" Height="56"&gt;
			&lt;RectangleDomino x="0" y="0" Width="48" Height="8"/&gt;
			&lt;RectangleDomino x="0" y="8" Width="8" Height="48"/&gt;
			&lt;RectangleDomino x="40" y="8" Width="8" Height="48"/&gt;
		&lt;/PartDefinition&gt;
		&lt;PartDefinition HorizontalPosition="Right" VerticalPosition="Top" Width="48" Height="56"&gt;
			&lt;RectangleDomino x="0" y="0" Width="48" Height="8"/&gt;
			&lt;RectangleDomino x="0" y="8" Width="8" Height="48"/&gt;
			&lt;RectangleDomino x="40" y="8" Width="8" Height="48"/&gt;
		&lt;/PartDefinition&gt;
		&lt;PartDefinition HorizontalPosition="Left" VerticalPosition="Center" Width="88" Height="112"&gt;
			&lt;RectangleDomino x="8" y="0" Width="8" Height="48"/&gt;
			&lt;RectangleDomino x="0" y="48" Width="48" Height="8"/&gt;
			&lt;RectangleDomino x="8" y="56" Width="48" Height="8"/&gt;
			&lt;RectangleDomino x="8" y="64" Width="8" Height="48"/&gt;
			&lt;RectangleDomino x="48" y="0" Width="48" Height="8"/&gt;
			&lt;RectangleDomino x="48" y="8" Width="8" Height="48"/&gt;
			&lt;RectangleDomino x="48" y="64" Width="8" Height="48"/&gt;
		&lt;/PartDefinition&gt;
		&lt;PartDefinition HorizontalPosition="Center" VerticalPosition="Center" Width="80" Height="112"&gt;
			&lt;RectangleDomino x="0" y="8" Width="8" Height="48"/&gt;
			&lt;RectangleDomino x="-40" y="0" Width="48" Height="8"/&gt;
			&lt;RectangleDomino x="0" y="56" Width="48" Height="8"/&gt;
			&lt;RectangleDomino x="0" y="64" Width="8" Height="48"/&gt;
			&lt;RectangleDomino x="40" y="0" Width="48" Height="8"/&gt;
			&lt;RectangleDomino x="40" y="8" Width="8" Height="48"/&gt;
			&lt;RectangleDomino x="40" y="64" Width="8" Height="48"/&gt;
		&lt;/PartDefinition&gt;
		&lt;PartDefinition HorizontalPosition="Right" VerticalPosition="Center" Width="56" Height="112"&gt;
			&lt;RectangleDomino x="0" y="8" Width="8" Height="48"/&gt;
			&lt;RectangleDomino x="-40" y="0" Width="48" Height="8"/&gt;
			&lt;RectangleDomino x="0" y="56" Width="48" Height="8"/&gt;
			&lt;RectangleDomino x="0" y="64" Width="8" Height="48"/&gt;
			&lt;RectangleDomino x="8" y="48" Width="48" Height="8"/&gt;
			&lt;RectangleDomino x="40" y="0" Width="8" Height="48"/&gt;
			&lt;RectangleDomino x="40" y="64" Width="8" Height="48"/&gt;
		&lt;/PartDefinition&gt;
		&lt;PartDefinition HorizontalPosition="Left" VerticalPosition="Bottom" Width="88" Height="0"/&gt;
		&lt;PartDefinition HorizontalPosition="Center" VerticalPosition="Bottom" Width="80" Height="0"/&gt;
		&lt;PartDefinition HorizontalPosition="Right" VerticalPosition="Bottom" Width="56" Height="0"/&gt;
	&lt;/StructureDefinition&gt;
&lt;/StructureDefinitions&gt;</value>
            </setting>
            <setting name="UseTemplate" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TemplateLength" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="FieldPlanHideText" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FieldTemplates" serializeAs="String">
                <value>Field (8mm row distance):8*8*24*8
Field (5mm row distance):8*8*24*5
Turtle Field:1*47*23*1
Tile Field:1*39*24*5</value>
            </setting>
            <setting name="FieldPlanForeColorMode" serializeAs="String">
                <value>Intelligent</value>
            </setting>
            <setting name="FieldPlanBackColorMode" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="FieldPlanFormatString" serializeAs="String">
                <value>&lt;font face="Verdana"&gt;
</value>
            </setting>
            <setting name="FieldPlanRegex" serializeAs="String">
                <value>%count%</value>
            </setting>
            <setting name="FieldPlanPropertyMode" serializeAs="String">
                <value>Small</value>
            </setting>
            <setting name="FieldPlanFixedForeColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="FieldPlanFixedBackColor" serializeAs="String">
                <value>White</value>
            </setting>
        </DominoPlanner.Properties.Settings>
    </userSettings>
</configuration>