<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="StructureTemplates" value="StructureTemplates.xml"/>
    <add key="StandardColorArray" value="%appdata%/DominoPlanner/colors.DColor"/>
    <add key="StandardProjectPath" value="%user%/DominoPlanner"/>
    <add key="OpenProjectList" value="%appdata%/DominoPlanner/OpenProjects.xml"/>
    <add key="FirstStartup" value="1"/>
    <add key="ColorExtension" value="DColor"/>
    <add key="ObjectExtension" value="DObject"/>
    <add key="ProjectExtension" value="DProject" />
  </appSettings>
</configuration>