<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System.Configuration.ConfigurationManager, Version=5.0.0.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51" >
      <section name="DominoPlanner.Usage.Properties.Settings" type="System.Configuration.ClientSettingsSection, System.Configuration.ConfigurationManager, Version=5.0.0.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <DominoPlanner.Usage.Properties.Settings>
      <setting name="FirstStartup" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="StandardColorArray" serializeAs="String">
        <value>%appdata%/DominoPlanner/colors.DColor</value>
      </setting>
      <setting name="StandardProjectPath" serializeAs="String">
        <value>%user%/DominoPlanner</value>
      </setting>
      <setting name="OpenProjectList" serializeAs="String">
        <value>%appdata%/DominoPlanner/OpenProjects.xml</value>
      </setting>
      <setting name="ColorExtension" serializeAs="String">
        <value>DColor</value>
      </setting>
      <setting name="ObjectExtension" serializeAs="String">
        <value>DObject</value>
      </setting>
      <setting name="ProjectExtension" serializeAs="String">
        <value>DProject</value>
      </setting>
      <setting name="StructureTemplates" serializeAs="String">
        <value>Resources/Structures.xml</value>
      </setting>
    </DominoPlanner.Usage.Properties.Settings>
  </userSettings>
</configuration>